@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-position: center;
}
/* Parte 1 */
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 15em;
    margin-bottom: 5em;
}
header h1{
    font-size: 5em;
    margin-bottom: 9px;
    padding-top: 55px;
    font-weight: 650;
    font-family: Passion One;
}
header>p{
    font-size: 19px;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    transition-duration: 0.7s;
    color: rgb(180, 180, 180);
}

/* Parte 1-end */
 
/* Conteúdo*/
section>p{
    width: 350px;
    margin-left: 2em;
    font-size: 2.2em;
    margin-top: 15px;
    line-height: 1.7em;
    font-family: Sriracha, 'Times New Roman', Times, serif;
    text-align: justify;
    
}
section{
     width: 100%;
     height: 590px;
    }
#grama{
    background-image: url('img/Flor.jpg');
    background-attachment: fixed;
}
#livro{
   background-image: url('img/Carta.jpg'); 
   background-attachment: fixed;
}
.one{
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
}
#text1{
    position: absolute;
    top: 915px;
    
}
#text2{
    position: absolute;
    top: 78em;
}
#text3{
    position: absolute;
    top: 60.5em;
    
}
#text4{
    position: absolute;
    top: 94.5em;
}
#im{
    background-image: url('img/poesia.jpg');
    background-attachment: fixed;
}
/* Conteúdo-end*/

/*Final*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: rgb(180, 180, 180);
    transition-duration: 0.6s;
}
/*Final end*/